{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load extras %}
{% block content %}
    {% csrf_token %}
        <h1 class="my-4"> {{ header }}</h1>
{#        <div class = "card">#}
{#            <div class="card-header">#}
{#                <h2>{{ task.name }}</h2>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <p>{{ task.description }}</p>#}
{#            <hr>#}
        <div class="container">
            <div class="row p-2">
                <div class="col"> id </div>
                <div class="col">{{ taskresult.id }}</div>
            </div>
            <div class="row p-2">
                <div class="col"> task_id </div>
                <div class="col">{{ taskresult.task_id }}</div>
            </div>
            <table class="table">
             {% for r in res %}
              <tr>
                  <td>
{#                      <table class="table">#}
{#                          {% for k,v in r.info %}#}
{#                              <tr>#}
{#                                <td>{{ k }}</td><td>{{ v }}</td>#}
                              <td>{{ r.info }}</td>
{#                              </tr>#}
{#                          {% endfor %}#}
{#                      </table>#}
                  </td>
                  <td>{{ r.status }}</td>
                  <td>{{ r.date_done }}</td>
                  <td>
                  {% if r.resonse|is_list %}
                    <table class="table">
                      {% for line in  r.response %}
                      <tr><td>{{ line }}</td></tr>
                      {% endfor %}
                    </table>
                  {% else %}
                        {{ r.response }}
                  {% endif %}
                  </td>
              </tr>
             {% endfor %}
            </table>
        </div>
{% endblock %}